# 폴더 무시
.vs/
Library/
ProjectSettings/
Temp/
Assets/Plugins
Assets/Book-Page Curl/
Assets/CustomMaterial/
Assets/TempImage/
Assets/Fonts/
Assets/Images/
Assets/Prefabs/
Assets/Scenes/
#업데이트 파일 무시
*.meta
*.sln
*.csproj

